/* Media Query for Mobile */
@media screen and (max-width: 768px) {
  .Footer-All-Page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100%;
    color: #ffffff;
    font-size: 20px;
    background-color: #282c34;
  }
}

/* Media Query for Laptop */
@media screen and (min-width: 769px) {
  .Footer-All-Page {
    position: relative;
    top:  100px;
    /* bottom: 10px; */
    display: flex;
    width: 100%;

    justify-content: center;
    align-items: center;
    height: 80px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    background-color: #282c34;
  }
}
